In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import os

if 'sim' not in globals():
    import os; os.chdir('..')
import models

import urbansim.sim.simulation as sim

# Not sure how many of these are actually needed, but can clean up later

In [2]:
# Want to look at the data that's there at the household level

h = sim.get_table('households').to_frame()

Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)

In [3]:
h.describe()

,taz,serialno,puma5,income,persons,hht,unittype,noc,bldgsz,tenure,...,hadnwst,hadwpst,hadkids,bucketbin,originalpuma,hmultiunit,building_id,node_id,income_quartile,zone_id
count,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,...,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2613808.000000,2732722.000000,2615614.000000
mean,751.134174,4923397.817272,2168.537679,77670.162133,2.581065,2.640939,0.076833,0.468948,3.528608,1.893538,...,0.158720,0.144958,0.135246,4.492757,2168.537679,0.401827,866459.391632,139173.000000,2.496489,749.916340
std,430.938788,2857497.525312,516.128215,81405.085003,1.605801,2.065958,0.365144,0.917211,2.516513,1.010827,...,0.446016,0.419846,0.450248,2.871945,516.128215,0.490267,533842.694502,0.003912,1.115588,432.382462
min,1.000000,20.000000,1000.000000,-20000.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,-1.000000,139173.000000,1.000000,1.000000
25%,372.000000,2463830.000000,2104.000000,26500.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,2.000000,2104.000000,0.000000,381049.250000,139173.000000,1.000000,369.000000
50%,762.000000,4901786.000000,2303.000000,58000.000000,2.000000,1.000000,0.000000,0.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,4.000000,2303.000000,0.000000,918280.000000,139173.000000,2.000000,758.000000
75%,1144.000000,7361646.000000,2410.000000,100000.000000,4.000000,4.000000,0.000000,1.000000,5.000000,3.000000,...,0.000000,0.000000,0.000000,7.000000,2410.000000,1.000000,1302308.000000,139173.000000,3.000000,1146.000000
max,1454.000000,9999899.000000,2714.000000,1968504.000000,25.000000,7.000000,2.000000,12.000000,10.000000,4.000000,...,14.000000,11.000000,8.000000,9.000000,2714.000000,1.000000,1841281.000000,139173.000000,4.000000,1454.000000

In [24]:
h.columns.values

array(['taz', 'serialno', 'puma5', 'income', 'persons', 'hht', 'unittype',
       'noc', 'bldgsz', 'tenure', 'vehicl', 'hinccat1', 'hinccat2',
       'hhagecat', 'hsizecat', 'hfamily', 'hunittype', 'hnoccat',
       'hwrkrcat', 'h0004', 'h0511', 'h1215', 'h1617', 'h1824', 'h2534',
       'h3549', 'h5064', 'h6579', 'h80up', 'hworkers', 'hwork_f',
       'hwork_p', 'huniv', 'hnwork', 'hretire', 'hpresch', 'hschpred',
       'hschdriv', 'htypdwel', 'hownrent', 'hadnwst', 'hadwpst', 'hadkids',
       'bucketbin', 'originalpuma', 'hmultiunit', 'building_id', 'node_id',
       'income_quartile', 'zone_id'], dtype=object)

In [ ]:
# this is everything that's under store['households']

In [3]:
s = sim.get_injectable('store')
s

<class 'pandas.io.pytables.HDFStore'>
File path: ./data/bayarea_v3.h5
/apartments                    frame        (shape->[4327,6])
/buildings                     frame        (shape->[1841288,18])
/costar                        frame        (shape->[71520,23])
/homesales                     frame        (shape->[220037,14])
/households                    frame        (shape->[2732722,47])
/jobs                          frame        (shape->[3386491,3])
/nets                          frame        (shape->[633973,7])
/parcels                       frame        (shape->[1951911,15])
/zones                         frame        (shape->[1454,4])
/zoning                        frame        (shape->[42311,19])
/zoning_for_parcels            frame        (shape->[1951911,1])

In [ ]:
# what's in the underlying source data? and how can we add rent to that?

In [4]:
pd.set_option('display.max_columns', None)
s.households.head(5)

,taz,serialno,puma5,income,persons,hht,unittype,noc,bldgsz,tenure,vehicl,hinccat1,hinccat2,hhagecat,hsizecat,hfamily,hunittype,hnoccat,hwrkrcat,h0004,h0511,h1215,h1617,h1824,h2534,h3549,h5064,h6579,h80up,hworkers,hwork_f,hwork_p,huniv,hnwork,hretire,hpresch,hschpred,hschdriv,htypdwel,hownrent,hadnwst,hadwpst,hadkids,bucketbin,originalpuma,hmultiunit,building_id
household_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2,2328876,2203,29000,1,6,0,0,3,3,1,2,3,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,2,2,0,0,0,2,2203,0,920773
2,5,2328876,2203,29000,1,6,0,0,3,3,1,2,3,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,2,2,0,0,0,2,2203,0,921075
3,8,2328876,2203,29000,1,6,0,0,3,3,1,2,3,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,2,2,0,0,0,2,2203,0,921621
4,8,4532868,2203,15770,1,6,0,0,3,3,0,1,2,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,2,2,0,0,0,3,2203,0,921631
5,10,2328876,2203,29000,1,6,0,0,3,3,1,2,3,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,2,2,0,0,0,2,2203,0,998448

In [5]:
s.households['hownrent'].describe()

count    2732722.000000
mean           1.439837
std            0.496367
min            1.000000
25%            1.000000
50%            1.000000
75%            2.000000
max            2.000000
Name: hownrent, dtype: float64

In [11]:
s.households['hownrent'][s.households['hownrent']==1].describe()

count    1530771
mean           1
std            0
min            1
25%            1
50%            1
75%            1
max            1
Name: hownrent, dtype: float64

In [18]:
s = {'a': [1,2], 'b': [3,4]}
for k in s:
    print k
    print s[k][0]

a
1
b
3